#graduate-school-library {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

#graduate-school-library h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}
#graduate-school-library h2 {
    font-size: 28px;
    color: #FFA929;
   margin-top: 50px;
}

#graduate-school-library p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.8;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#graduate-school-library ul {
    list-style-type: disc; 
    padding-left: 40px; 
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

#graduate-school-library ul li {
    font-size: 18px;
    color: #444;
    margin-bottom: 12px;
    padding-left: 10px; 
}


#graduate-school-library ul li::marker {
    color: #003366; 
    font-size: 18px;
}

#graduate-school-library .content-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

#graduate-school-library img {
    max-width: 80vh;
    height: auto;
    margin-left: 50px;
  
}
.grad {
    color: #777 !important;
    font-size: 15px !important;
    text-align: center !important;
}

